:root {
  --uq-vlightpurple: #d9dcfc;
  --uq-lightpurple: #c7cafa;
  --uq-purple: #727bf2;
  --uq-darkpurple: #5761ef;
  --midnightpurp: #0a1170;
  --forgottenpurp: #45475e;
  --uq-lightpink: #f3ced2;
  --uq-pink: #dd7c8a;
  --uq-darkpink: #cd3c52;
  --blush: #d55d6f;
  --celeste: #adebe5;
  --lturq: #6bdbd0;
  --turq: #3acfc0;
  --celadon: #21897e;
  --deep-jungle: #14524c;
  --old-mint: #659792;
  --washed-gray: rgba(0, 0, 0, 0.03);
  --light-gray: rgb(203, 203, 203);
  --medium-gray: rgb(101, 101, 101);
  --dark-gray: rgba(0, 0, 0, 0.5);
  --charcoal: #333;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Press Start 2P";
  background-color: #027;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.5em 0.75em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 0.5em;
  border: 1px solid var(--uq-pink);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--uq-pink);
  cursor: pointer;
  font-size: 1em;
  transition: all 0.1s;
  box-shadow: 0 1px 2px var(--uq-darkpink);
  font-family: "Press Start 2P";
  color: white;
  margin-top: 1em;
}

button:hover {
  background-color: var(--uq-darkpink);
  border: 1px solid var(--uq-darkpink);
}

button:disabled {
  background-color: var(--medium-gray);
  border: 1px solid var(--medium-gray);
  cursor: not-allowed;
}

#signup-page {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  padding: 2em;
  max-width: calc(100vw - 4em);
}

.key-err {
  font-size: 12px;
  margin: 1em;
  color: red;
}

label {
  font-size: 0.8em;
}

.login-row {
  margin: 0.5em;
  align-self: flex-start;
}

.label-row {
  margin: 0.5em 0;
  align-self: flex-start;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-button {
  border: 2px solid white;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  text-align: center;
  font-size: 16px;
  line-height: 0.5em;
  margin-left: 0.5em;
}

.tooltip-content {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: sans-serif;
  line-height: 1.5em;
  min-width: 200px;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 30%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

#signup-form {
  width: calc(420px + 2em);
  max-width: calc(100vw - 2em);
  padding: 1em;
}

#signup-form-header {
  margin-bottom: 1em;
}

#signup-form-header button {
  width: calc(420px + 2em);
  max-width: calc(100vw - 2em);
}

#current-address {
  margin-left: 1em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25em;
  font-weight: 600;
}

.current-username {
  cursor: pointer;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 4px;
  margin: 1em 0;
}

.current-username:hover {
  border: 1px solid white;
  color: #027;
  background-color: white;
}

#connect-wallet {
  max-width: 420px;
}

#wallet-required-message {
  max-width: 500px;
  text-align: center;
  line-height: 1.5em;
}

#loading h3 {
  text-align: center;
}

#loader {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
#loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
#loader div:nth-child(1) {
  animation-delay: -0.45s;
}
#loader div:nth-child(2) {
  animation-delay: -0.3s;
}
#loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
.connect-modal {
  font-family: "Press Start 2P";
  background-color: var(--uq-lightpurple);
  background: var(--uq-lightpurple);
  border: 1px solid var(--uq-pink);
  border-radius: 4px;
  padding: 1em;
  box-sizing: border-box;
  width: 50%;
  height: 30%;
  margin: auto;
  overflow: auto;
  top: 10%;
  left: 25%;
} */

.connect-modal {
  display: flex;
  justify-content: center;
  align-items:center;
}

.connect-modal-content {
  width: 400px;
  height: 200px;
  background: #027;
  padding: 20px;
  position: fixed;
  top: 120px;
  border-radius: 15px;
}

.overlay-modal {
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  inset: 0px;
}

.signup-form {
  width: 50vw;
  max-width: 400px;
}

.direct-node-message {
  line-height: 1.5em;
  margin-left: 1em;
}

.name-validity {
  color: red;
}

.more-info-direct {
  margin: 0 1em;
  text-decoration: underline;
  cursor: pointer;
}

.more-info-direct:hover {
  color: var(--uq-darkpink);
}

a {
  color: var(--uq-pink);
}

a:hover {
  color: var(--uq-darkpink);
}

.reset-networking {
  margin-top: 1em;
  cursor: pointer;
  text-decoration: underline;
  width: 100%;
  font-size: 0.8em;
  margin-left: 1em;
}

.reset-networking:hover {
  color: var(--uq-darkpink);
}

.name-err {
  color: red;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
